apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-webapp-fargate
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-webapp
  template:
    metadata:
      labels:
        app: python-webapp
    spec:
      containers:
      - name: python-webapp
        image: pratap2298/my-python-app:waitress
        imagePullPolicy: Always # Always pull new images
        ports:
        - containerPort: 5000
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 3
          successThreshold: 1
          failureThreshold: 3
        resources:
          requests:
            cpu: "0.25"
            memory: "0.5Gi"
          limits:
            cpu: "0.25"
            memory: "0.5Gi"

      nodeSelector:
        eks.amazonaws.com/compute-type: fargate